@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="header">
    <div class="display-wrapper header-menu">
        <div class="logo">
            <h1 class="text-22px mb-0">KTY</h1>
        </div>
        <div class="button-panel">
            <a href="#" class="button-panel-item link-black text-130pc">
                <i class="fa fa-search"></i>
            </a>
            <a href="#" class="button-panel-item link-black text-130pc">
                <i class="fa fa-trophy"></i>
            </a>
            <div class="button-panel-item dropdown">
                <a href="#" class="button-panel-item link-black text-130pc" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right header-dropdown-menu">
                    <a class="menu-item">
                        <h5 class="mb-0 text-bold">Settings</h5>
                    </a>
                    <a href="/customer/settings/editprofile" class="menu-item align-items-start">
                        <div class="thumbnail-2 thumbnail-clearfix-right bg-dark border-radius-1">

                        </div>
                        <div>
                            <h6 class="text-bold mb-0">User Name</h6>
                        </div>
                    </a>
                    <a href="/customer/settings/editprofile" class="menu-item text-bold text-15px">
                        <i class="fa fa-cog fa-fw mr-2"></i> Settings
                    </a>
                    <a href="/customer/rewards" class="menu-item text-bold text-15px">
                        <i class="fa fa-trophy fa-fw mr-2"></i> My Rewards
                    </a>
                    <a href="/customer/receipts" class="menu-item text-bold text-15px">
                        <i class="fa fa-receipt fa-fw mr-2"></i> My Receipts
                    </a>
                    <a href="/help" class="menu-item text-bold text-15px">
                        <i class="fa fa-question fa-fw mr-2"></i> Help Center
                    </a>
                    <a href="/contactus/reportissue" class="menu-item text-bold text-15px">
                        <i class="fa fa-flag fa-fw mr-2"></i> Report a problem
                    </a>
                    <a href="/customer/auth/logout" class="menu-item text-bold text-danger text-15px">
                        <i class="fa fa-sign-out-alt fa-fw mr-2"></i> Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    @RenderBody()
</div>
<div class="footer">

</div>
