@model KatyaLoyalty.CustomerWeb.Areas.Customer.Views.Rewards.IndexModel
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="py-5">
    <div class="display-wrapper pad-x-0 pad-x-sm-5">
        <div class="row gutters-0 gutters-sm-1">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card-vertical mb-5 d-none d-sm-block">
                    <div class="thumbnail-widescreen bg-dark border-radius-2">

                    </div>
                    <div class="body-no-pad border-radius-b-2">
                        <div class="mb-3">
                            <h5 class="text-bold mb-1 text-18px">1 free box of Dienille</h5>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-map-marker-alt"></i> Caring Pharmacy</div>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-trophy"></i> You can redeem <b>5</b> times</div>
                        </div>
                        <a href="/customer/rewards/info/1" class="btn btn-block btn-success rounded-pill">REDEEM</a>
                    </div>
                </div>
                <div class="card-horizontal d-flex d-sm-none">
                    <div class="w-px-60 margin-r-4">
                        <div class="thumbnail-square bg-dark border-radius-1">

                        </div>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card-vertical mb-5 d-none d-sm-block">
                    <div class="thumbnail-widescreen bg-dark border-radius-2">

                    </div>
                    <div class="body-no-pad border-radius-b-2">
                        <div class="mb-3">
                            <h5 class="text-bold mb-1 text-18px">1 free box of Dienille</h5>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-map-marker-alt"></i> Caring Pharmacy</div>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-trophy"></i> You can redeem <b>5</b> times</div>
                        </div>
                        <a href="/customer/rewards/info/1" class="btn btn-block btn-success rounded-pill">REDEEM</a>
                    </div>
                </div>
                <div class="card-horizontal d-flex d-sm-none">
                    <div class="w-px-60 margin-r-4">
                        <div class="thumbnail-square bg-dark border-radius-1">

                        </div>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card-vertical mb-5 d-none d-sm-block">
                    <div class="thumbnail-widescreen bg-dark border-radius-2">

                    </div>
                    <div class="body-no-pad border-radius-b-2">
                        <div class="mb-3">
                            <h5 class="text-bold mb-1 text-18px">1 free box of Dienille</h5>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-map-marker-alt"></i> Caring Pharmacy</div>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-trophy"></i> You can redeem <b>5</b> times</div>
                        </div>
                        <a href="/customer/rewards/info/1" class="btn btn-block btn-success rounded-pill">REDEEM</a>
                    </div>
                </div>
                <div class="card-horizontal d-flex d-sm-none">
                    <div class="w-px-60 margin-r-4">
                        <div class="thumbnail-square bg-dark border-radius-1">

                        </div>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card-vertical mb-5 d-none d-sm-block">
                    <div class="thumbnail-widescreen bg-dark border-radius-2">

                    </div>
                    <div class="body-no-pad border-radius-b-2">
                        <div class="mb-3">
                            <h5 class="text-bold mb-1 text-18px">1 free box of Dienille</h5>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-map-marker-alt"></i> Caring Pharmacy</div>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-trophy"></i> You can redeem <b>5</b> times</div>
                        </div>
                        <a href="/customer/rewards/info/1" class="btn btn-block btn-success rounded-pill">REDEEM</a>
                    </div>
                </div>
                <div class="card-horizontal d-flex d-sm-none">
                    <div class="w-px-60 margin-r-4">
                        <div class="thumbnail-square bg-dark border-radius-1">

                        </div>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card-vertical mb-5 d-none d-sm-block">
                    <div class="thumbnail-widescreen bg-dark border-radius-2">

                    </div>
                    <div class="body-no-pad border-radius-b-2">
                        <div class="mb-3">
                            <h5 class="text-bold mb-1 text-18px">1 free box of Dienille</h5>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-map-marker-alt"></i> Caring Pharmacy</div>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-trophy"></i> You can redeem <b>5</b> times</div>
                        </div>
                        <a href="/customer/rewards/info/1" class="btn btn-block btn-success rounded-pill">REDEEM</a>
                    </div>
                </div>
                <div class="card-horizontal d-flex d-sm-none">
                    <div class="w-px-60 margin-r-4">
                        <div class="thumbnail-square bg-dark border-radius-1">

                        </div>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card-vertical mb-5 d-none d-sm-block">
                    <div class="thumbnail-widescreen bg-dark border-radius-2">

                    </div>
                    <div class="body-no-pad border-radius-b-2">
                        <div class="mb-3">
                            <h5 class="text-bold mb-1 text-18px">1 free box of Dienille</h5>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-map-marker-alt"></i> Caring Pharmacy</div>
                            <div class="text-15px text-secondary"><i class="fa fa-fw fa-trophy"></i> You can redeem <b>5</b> times</div>
                        </div>
                        <a href="/customer/rewards/info/1" class="btn btn-block btn-success rounded-pill">REDEEM</a>
                    </div>
                </div>
                <div class="card-horizontal d-flex d-sm-none">
                    <div class="w-px-60 margin-r-4">
                        <div class="thumbnail-square bg-dark border-radius-1">

                        </div>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>