@model KatyaLoyalty.CustomerWeb.Areas.Customer.Views.Rewards.InfoModel
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="py-5 margin-b-5">
    <div class="display-wrapper display-wrapper-800 pad-x-2 mb-3">
        <div class="card-horizontal">
            <div class="w-px-60 w-px-sm-65 w-px-md-100 margin-r-3">
                <div class="thumbnail-square bg-dark border-radius-1">

                </div>
            </div>
            <div class="body">
                <h1 class="text-bold text-22px margin-b-0">1 free box of Dienille</h1>
                <div class="text-bold text-secondary">Caring Pharmacy</div>
            </div>
        </div>
    </div>
    <div class="display-wrapper display-wrapper-800 pad-x-5 mb-3">
        <h2 class="text-18px text-bold">Description</h2>
        <div class="margin-b-1">
            Get 1 box of Dienille free with every purchase of 5 boxes of Dienille
        </div>
    </div>
    <div class="display-wrapper display-wrapper-800 pad-x-5 mb-3">
        <h2 class="text-18px text-bold">Terms and conditions</h2>
        <div class="margin-b-1">
            &bull; While stocks last
        </div>
        <div class="margin-b-1">
            &bull; Caring Pharmacy reserves the right to alter, suspend or cancel the promotion at their own discretion.
        </div>
        <div class="margin-b-1">
            &bull; This reward is redeemable at any Caring Pharmacy outlet that has a pharmacist
        </div>
        <div class="margin-b-1">
            &bull; Screenshots of the barcode will not be accepted.
        </div>
    </div>
    <div class="display-wrapper display-wrapper-800 pad-x-5 mb-3">
        <h2 class="text-18px text-bold">How to redeem</h2>
        <div class="margin-b-1">
            &bull; Click or tap or "Redeem"
        </div>
        <div class="margin-b-1">
            &bull; Choose the outlet where you're redeeming this reward
        </div>
        <div class="margin-b-1">
            &bull; You will be shown a barcode. Show this barcode to the cashier or the pharmacist.
        </div>
    </div>
    <div class="display-wrapper display-wrapper-800 pad-x-5 mb-3">
        <h2 class="text-18px text-bold">How to earn</h2>
        <div class="margin-b-1">
            &bull; Purchase Dienille at Caring Pharmacy
        </div>
        <div class="margin-b-1">
            &bull; Upload a photo of the receipt
        </div>
    </div>
    <div class="display-wrapper display-wrapper-800 pad-x-5 mb-5">
        <h2 class="text-18px text-bold">Having trouble?</h2>
        <div class="margin-b-1">
            <a href="#" class="text-danger text-decoration-none text-bold">
                <i class="fa fa-flag"></i> Report this reward
            </a>
        </div>
    </div>
    <div class="display-wrapper display-wrapper-800 pad-x-5 mb-3 border-t-1 pad-y-3 d-none d-sm-block">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1 pad-r-5">
                <div class="text-bold margin-b-0 text-secondary">
                    You have 5 available
                </div>
                <div class="text-14px text-danger text-bold">
                    <i class="fa fa-exclamation-triangle"></i> Make sure you are at the store before tapping on "Redeem"
                </div>
            </div>
            <div>
                <button class="btn btn-success text-bold d-block" data-toggle="modal" data-target="#confirmationModal">Redeem</button>
            </div>
        </div>
    </div>
</div>
<div class="footer d-block d-sm-none bg-white">
	<div class="display-wrapper pad-5">
        <button class="btn btn-block btn-success text-bold" data-toggle="overlay" data-target="#confirmationOverlay">Redeem</button>
	</div>
</div>
<div id="confirmationOverlay" class="overlay">
	<div class="task-panel-bottom">
		<div class="display-wrapper display-wrapper-800 pad-5 bg-white">
			<form>
				<div class="form-group">
					<h3 class="text-20px margin-b-0 text-bold">Redeem reward</h3>
					<div class="text-secondary">
						You will receive <b>5 x 1 free box of Dienille</b>
					</div>
				</div>
				<div class="form-group">
					<div class="text-14px text-secondary text-bold">Which Caring Pharmacy branch?</div>
					<select class="form-control">
						<option>Berjaya Times Square</option>
						<option>IOI City Mall</option>
					</select>
				</div>
                <div class="margin-b-2 text-center text-14px text-danger text-bold">
                    <i class="fa fa-exclamation-triangle"></i> Make sure you are at the store before tapping on "Redeem"
                </div>
				<div class="d-flex">
					<div class="margin-r-2 flex-grow-1">
						<button type="button" class="btn btn-block btn-outline-secondary text-bold" data-dismiss="overlay">Cancel</button>
					</div>
					<div class="margin-l-2 flex-grow-1">
						<button type="button" class="btn btn-block btn-success text-bold">Confirm</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body pad-5">
				<form>
					<div class="form-group">
                        <h3 class="text-20px margin-b-0 text-bold">Redeem reward</h3>
						<div class="text-secondary">
							You will receive <b>5 x 1 free box of Dienille</b>
						</div>
					</div>
					<div class="form-group">
						<div class="text-14px text-secondary text-bold">Which Caring Pharmacy branch?</div>
						<select class="form-control">
							<option>Berjaya Times Square</option>
							<option>IOI City Mall</option>
						</select>
					</div>
                    <div class="margin-b-2 text-center text-14px text-danger text-bold">
                        <i class="fa fa-exclamation-triangle"></i> Make sure you are at the store before tapping on "Redeem"
                    </div>
					<div class="d-flex">
						<div class="margin-r-2 flex-grow-1">
							<button type="button" class="btn btn-block btn-outline-secondary text-bold" data-dismiss="modal">Cancel</button>
						</div>
						<div class="margin-l-2 flex-grow-1">
							<button type="button" class="btn btn-block btn-success text-bold">Confirm</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>