body {
    font-family: "Source Sans Pro";
    font-feature-settings:"lnum";
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dee2e6;
    z-index: 100;
    background-color: white;
}
.header-menu {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:70px;
}
.header-menu .logo {
    padding-left:1.25rem;
    padding-right:1.25rem;
}
.header-menu .searchbar {
    flex-grow:1;
    padding-left:1.25rem;
    padding-right:1.25rem;
}
.header-menu .button-panel {
    padding-left:1.25rem;
    padding-right:1.25rem;
    display:flex;
    align-items:center;
}
.header-menu .button-panel .button-panel-item {
    display:block;
    margin-left:0.8rem;
}
.header-menu .button-panel .button-panel-item:first-child {
    margin-left:0;
}

.content {
    margin-top:70px;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}

/* display-wrapper */
.display-wrapper {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    max-width:1300px;
}
.display-wrapper-400 {
    max-width:400px;
}
.display-wrapper-500 {
    max-width:500px;
}
.display-wrapper-800 {
    max-width:800px;
}
.display-wrapper-1000 {
    max-width:1000px;
}


/* cards */
.card-horizontal {
    display:flex;
    padding:0.75rem;
    
}
.card-horizontal .body {
    flex-grow:1;
}
.card-vertical {
    display:block;
}
.card-vertical .body {
    padding:1.25rem;
}
.card-vertical .body-no-pad {
    padding-top:1rem;
    padding-bottom:1rem;
}

/* special buttons */
.dropdown-toggle-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    border: 1px solid #ced4da;
}
.dropdown-toggle-flex .dropdown-toggle-label {
    max-width:100%;
    overflow:hidden;
}
.phone-input-group .phone-number-input {
    width:70% !important;
}

.modal-menu-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left:1.25rem;
    padding-right:1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    color:black;
}
.modal-menu-item:hover {
    text-decoration:none;
    background-color:rgba(255,255,255,0.1);
}
.modal-body .modal-menu-item:last-child {
    border-bottom:0px;
}

/* header-dropdown-menu */
.header-dropdown-menu {
    padding:0.5rem!important;
}
.header-dropdown-menu .menu-item {
    padding:0.75rem;
    color:rgba(0,0,0,1);
    width:300px;
    display:flex;
    align-items:center;
}
.header-dropdown-menu .menu-item:hover {
    text-decoration:none;
    background-color:rgba(0,0,0,0.1);
    border-radius:5px;
}

/* reward-list */
.overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:101;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    display:none;
}
.overlay.show {
    display:block;
}
.task-panel-bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:white;
}