@model KatyaLoyalty.CustomerWeb.Areas.Customer.Views.Auth.LoginModel
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="py-5">
    <div class="display-wrapper display-wrapper-400 ">
        <div class="card-vertical border-x-0 border-y-0 border-x-sm-1 border-y-sm-1 mb-3">
            <div class="body">
                <div class="mb-4">
                    <h1 class="text-center mb-0">Katya</h1>
                </div>
                <form method="post" action="/customer/auth/ajax?authAction=login">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-outline-dark rounded-pill text-bold">Log in</button>
                    </div>
                    <div class="text-center">
                        <a href="/customer/auth/recoverpassword" class="text-bold text-decoration-none text-14px">I forgot my password</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-vertical border-x-0 border-y-0 border-x-sm-1 border-y-sm-1 mb-3">
            <div class="body">
                <div class="text-center text-secondary text-15px">
                    I don't have an account. <a href="/customer/auth/register" class="text-bold text-decoration-none">Register</a>
                </div>
            </div>
        </div>
        <div class="card-vertical d-none d-sm-none d-md-block d-lg-block">
            <div class="body text-center">
                <a href="/" class="btn btn-sm btn-outline-secondary rounded-pill"><i class="fa fa-arrow-left"></i> Go to home page</a>
            </div>
        </div>
    </div>
</div>
