@model KatyaLoyalty.CustomerWeb.Areas.Customer.Views.Auth.RegisterModel
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<script>
    $(document).ready(function () {
        populatePhoneCodeSelectorModal("#countryCodeModal", "#phoneCountryCode");
    })
    function populatePhoneCodeSelectorModal(modalSelector, outputSelector) {
        var modal = $(modalSelector);
        var modalMenu = $(modal).find(".modal-body");
        var output = $(outputSelector);
        $.get("/assets/json/country-codes-with-flags.json", function (data) {
            for (i = 0; i < data.length; i++) {
                var country = data[i];
                var phoneCodeSelectorLink = document.createElement("a");
                var countryNameSpan = document.createElement("span");
                var phoneCodeSpan = document.createElement("span");
                phoneCodeSelectorLink.className = "modal-menu-item";
                phoneCodeSelectorLink.setAttribute("data-countrycode", country.countryCode);
                countryNameSpan.innerHTML = country.name;
                phoneCodeSpan.innerHTML = country.countryCode;
                phoneCodeSelectorLink.appendChild(countryNameSpan);
                phoneCodeSelectorLink.appendChild(phoneCodeSpan);
                $(modalMenu).append(phoneCodeSelectorLink);
            }
            $(modal).find(".modal-menu-item").on("click", function () {
                $(output).val($(this).attr("data-countrycode"))
                $(modal).modal("toggle");
            })
        })
    }
</script>
<div class="py-5">
    <div class="display-wrapper display-wrapper-400 ">
        <div class="card-vertical border-x-0 border-y-0 border-x-sm-1 border-y-sm-1 mb-3">
            <div class="body">
                <div class="pad-3">
                    <div class="mb-4">
                        <h1 class="text-center mb-0">Take Control</h1>
                    </div>
                    <form method="post" action="/customer/auth/ajax?action=register">
                        <div class="form-group">
                            <input id="fullName" name="fullName" type="text" class="form-control" placeholder="Full Name" />
                        </div>
                        <div class="form-group">
                            <input id="email" name="email" type="text" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input id="phoneCountryCode" type="hidden" />
                            <div class="input-group phone-input-group">
                                <div class="input-group-prepend w-30">
                                    <button type="button" class="btn dropdown-toggle country-code-modal-toggle" data-toggle="modal" data-target="#countryCodeModal">
                                        <span class="country-code-text">+60</span>
                                    </button>
                                </div>
                                <input id="phoneNumber" name="phoneNumber" type="text" class="form-control w-70" placeholder="Phone Number" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-outline-dark rounded-pill text-bold">REGISTER</button>
                        </div>
                        <div class="text-center text-14px">
                            By registering, you agree to our
                            <a href="/about/tnc" class="text-decoration-none text-bold text-secondary">Terms and Conditions</a>,
                            <a href="/about/privacy" class="text-decoration-none text-bold text-secondary">Privacy Policy</a> and
                            <a href="/about/cookies" class="text-decoration-none text-bold text-secondary">Cookie Policy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-vertical border-x-0 border-y-0 border-x-sm-1 border-y-sm-1 mb-3">
            <div class="body">
                <div class="pad-x-3">
                    <div class="text-center text-secondary">
                        I have an account. <a href="/customer/auth/login" class="text-decoration-none text-bold">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade phone-code-selector-modal" id="countryCodeModal" tabindex="-1" aria-labelledby="countryCodeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-b-0 align-items-center pad-x-5">
                <h5 class="text-bold mb-0">Select Country</h5>
                <a href="#" class="text-secondary text-decoration-none text-22px" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="pad-x-4 pad-b-5 border-b-1">
                <input class="form-control rounded-pill" placeholder="Country Name" />
            </div>
            <div class="modal-body pad-0"></div>
        </div>
    </div>
</div>
