@page
@model KatyaLoyalty.CustomerWeb.Areas.Customer.Views.Auth.ResetPasswordModel
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="py-5">
    <div class="display-wrapper display-wrapper-400 ">
        <div class="card-vertical border-x-0 border-y-0 border-x-sm-1 border-y-sm-1 mb-3">
            <div class="body">
                <div class="pad-3">
                    <div class="mb-4">
                        <h1 class="text-center mb-0">Take Control</h1>
                    </div>
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="New Password" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm Password" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-outline-dark rounded-pill text-bold">RESET</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-vertical border-x-0 border-y-0 border-x-sm-1 border-y-sm-1 mb-3">
            <div class="body">
                <div class="pad-x-3">
                    <div class="text-center text-secondary">
                        I don't have an account. <a href="/customer/auth/register" class="text-bold text-decoration-none">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>