@font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu/Ubuntu-Regular.ttf");
}